/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
    @apply uppercase;
    @apply tracking-wider;
}

.btn-outline {
    @apply bg-white;
    border-width: 2px;
    @apply text-primary;
    @apply border-primary;
}

.btn-outline:hover {
    @apply bg-primary;
    @apply text-base-100;
}

.input {
    border-width: 1px;
    @apply border-black;
}

.input:hover,
.input:focus {
    @apply outline-primary;
}

select {
    border-width: 1px;
    @apply border-black;
}

select:hover,
select:focus {
    @apply outline-primary;
}

